body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('https://www.cnet.com/a/img/icnq_j5B3ANeDGQhiakv6fGtxxQ=/822x959/2021/10/12/a7de2a33-169c-4c3e-95dc-cd16c119f100/2022-toyota-tundra-mobile-door.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  body {
      margin: 0;
  }
  .contain {
      height: 500px;
      width: 100%;
      border: 3px solid grey;
      padding: 5px;
      background-color: khaki;
      display: flex;
      flex-wrap: wrap;
  }
  .b1 {
      margin-top: 140px;
      height: 280px;
      width: 720px;
      border: 0.5px solid rgb(107, 33, 245);
      background-color: rgb(108, 48, 247);
      box-shadow:  8px 14px rgb(182, 174, 174);
      
  }
  .text {
      position: absolute;
      color: black;
      left: 350px;
  }
  .div1{
      margin-left: 2px;
      margin-top: 10px;
      
  width:700px;
  height:260px;
  background-color:rgb(34, 11, 97);
  border:1px solid black;
  border-radius:15px;
  overflow:hidden;
  }
  .div2 {
  background-color:rgb(251, 251, 255);
  color:white;
  margin-left: 230px;
  height:260px;
  
  }
  
  
  .p1 {
      color: rgb(177, 174, 174);
      position: absolute;
      top: 200px;
      left: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
     
  }
  .p2 {
      color: rgb(252, 249, 249);
      position: absolute;
      top: 220px;
      left: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
     
  }
  .btn {
      
      color: rgb(177, 174, 174);
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      top: 370px;
      left: 50px;
      background-color: rgb(34, 11, 97);
     opacity: 5;
  }
  
  .hello {
      position: absolute;
      top: 180px;
      left: 300px;
      color: rgb(117, 116, 116);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .line {
  width:150px;
  height:7px;
  background-color:silver;
  position: absolute;
  left: 500px;
  top: 206px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  }
  .line2 {
  width:100px;
  height:7px;
  background-color:rgb(47, 4, 126);
  position: absolute;
  left: 500px;
  top: 206px;
  
  }
  .line3 {
  color: grey;
  position: absolute;
  left: 550px;
  top: 215px;
  }
  .line4 {
  color:black;
  position: absolute;
  left: 298px;
  top: 230px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
body{
  \font-family:Arial;
  margin:0px;
}
#mr-fotter{
  padding:0px 25px;
  margin:0px;
  box-sizing:border-box;
  background-color:#424d55;
  overflow:auto;
}
#mr-fotter .col-1,
#mr-fotter .col-2,
#mr-fotter .col-3,
#mr-fotter .col-4,
#mr-fotter .col-5{
  width:20%;
  float:left;
}
#mr-fotter .col ul{
  list-style:none;
  margin-left:-40px;
  margin-top:12px;
}
#mr-fotter .col ul li{
  line-height:1.5;
  color:rgb(161, 161, 161);
}
#mr-fotter .col ul li a{
  color:rgb(161, 161, 161);
  text-decoration:none;
  font-size:12px;
}
#mr-fotter .col h4{
  color:#fff;
  margin-bottom:0px;
  font-size:16px;
  font-weight:bold;
}
#mr-fotter .col ul li img{
  vertical-align:middle;
}
#mr-fotter .footer-follow-us{
  padding-top:25px;
}